body {
    margin: 0;
    padding: 0;
}
.header-menu-bar{
    background-color: #cddee7;
    color: white;
    padding: 10px;
    display: absolute;
    margin: 0 , 180px;
    height: 10%;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
}
.header-main {
    background-color: rgb(218, 223, 208);
    color: white;
    padding: 10px;
    display: flex;
    margin: 0  50px  0 50px;
    height: 10%;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    position: fixed;
    width: 90%;
    top: 0;
    z-index: 1000; /* Adjust the z-index as needed to ensure it appears above other content */
}
.nav-img {
    display: flex;
    align-items: left;
}
.left-header-search {
    display: flex;
    color: white;
}
.search-bar{
    display: flex;
    height: 25px;
    width: 200px;
    margin-top: 10px;
    margin-left: 12px;
}
.nav-md-right-side {
    display: flex;
    align-items: center;
    text-align: center;
}
.section-devision {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    margin-right: 100px;
    justify-content: space-between;
}
.section-devision li{
    font-size: 15px;
    margin-right: 20px; /* Adjust the margin as needed */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; 
}
.nav-home-center-icon{
    padding-top: 45px;
    margin: -45px;
}
.nav-my-netwrok-center-icon{
    padding-top: 45px;
    margin: -55px;
}
.nav-job-center-icon{
    padding-top: 45px;
    margin: -52px;
}
.nav-mesg-center-icon{
    padding-top: 45px;
    margin: -45px;
}
.nav-natify-center-icon{
    padding-top: 45px;
    margin: -48px;
}
.nav-login-selection-center-icon{
    padding-top: 45px;
    margin: -45px;
}
.section-devision a {
    text-decoration: none;
    color: #333; /* Adjust color as needed */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-devision span {
    margin-top: 45px; /* Adjust as needed */
}
.nav-try-prim {
    display: flex;
    align-items: right;
    margin-right: 70px; /* Adjust the margin as needed */
}
