@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap'); --italic style*/


*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    font-family: "Poppins", sans-serif;
    font-weight: 400
}
body{
    background-color: rgb(233,230,225);
}
.main-header-top .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding:0 6rem;
    background-color: white;

}
.header .left , .right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.main-header-top .header .left{
    padding-left: 3rem;
    display: flex;
    gap: 0.6rem;
}
.header .logo{
    font-size: 2.5rem;
    color: blue;   
}
.header .left .input{
    background-color: rgb(237,243,248);
    width: 100%;
    display: flex;
    align-items: cen;
    padding:0.5rem 12px;
    gap: 0.5rem;
}
.header .left .inside-search-bar{
    border: none;
    background: transparent;
    width: 240px;

}
.header .left .inside-search-bar::placeholder{
    font-size: 0.8rem;
    color: rgb(95,97,99);
}
/* giving a padding in header section of left side for top  */
.header .left .input i{
    font-size: 0.8rem;
    color: rgb(59,61,62);
    padding-top: 4px;
}
/* hiding a underline of highperlink in header section */
a{
    text-decoration: none;
}
/* img and text align making sure its perfect for showing below to it */
.header .right .home .home-right-link ,  .my-network .mynetwork-right-link ,  .jobs .jobs-right-link ,
  .message .message-right-link , .notification .notify-right-link , .me-right-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
}
/* test below text hover on mouse  */

.header .right .home .home-right-link:hover , .header .right .my-network .mynetwork-right-link:hover , .header .right .jobs .jobs-right-link:hover ,
.header .right .message .message-right-link:hover , .header .right .notification .notify-right-link:hover ,
.header .right .me-right-link .right-me-arrow-login:hover  {
    color: black;
 }

.header .right .home .home-right-link i , .mynetwork-right-link i , .jobs-right-link i , .message-right-link i ,
.notify-right-link i ,.me-right-link i {
    font-size: 1.2rem;
    color: grey;
}
.home-right-link , .mynetwork-right-link  , .jobs-right-link  , .message-right-link  ,
.notify-right-link   {
    color: grey;
}
.me .right-me-arrow-login {
    display: flex;
    justify-content: center;
    color: grey;
    gap: 0.2rem;
}
.me .me-right-link {
    display: flex;
    justify-content: center;
    font-size: 1rem;
}
